@media only screen and (max-width: 414px) {
    * {
        max-width: 828px;
        overflow-x: hidden;
    }

    header {
        max-width: 414px;  
    }

    .logo {
        margin-left: -8em;
        margin-top: -1em;
    }

    .logo img {
        height: 2em;
    }

    /*nav*/

    .poster {
        background-image: url('media/IMG_5927.JPG'); 
        height: 32em;
        margin-top: -5.3em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .backgroundVideo {
        display: none;
    }


    .linearOne
    .linearTwo {
        display: none;
    }

    .title {
        margin-top: -14em;
        margin-left: 1em;
        font-size: .4em;
    }

    .info {
        font-size: 2em;
        margin-left: .2em;
        margin-top: 1em;
        opacity: .4;
    }

    .overview,
    .starring,
    .creator {
        display: none;
    }

    .linearThree {
        max-width: 414px;
        height: 10em;
        margin-top: -6em;
        background-image: linear-gradient(to bottom, transparent , rgba(0, 0, 0, 0.2) 6%, rgba(0, 0, 0, 0.4) 12%, rgba(0, 0, 0, 0.6) 18%, black 60%);
    }

    /*synopsis*/

    .synopsis {
        margin-top: 1em;
        height:36em;
        overflow: hidden;
    }

    .synopsis h1 {
        font-size: 2em;
        margin-left: .8em;
        margin-top: 1em;
    }

    .synopsisBody { 
        max-width: 31em;
        position: absolute;
        margin-left: -97.5em;
        margin-top: -6em;
        font-size: .7em;
        text-align: justify;
    }

    #synopsisImage {
        height: 22em;
        margin-left: 2em;
        margin-top: -14em;
        position: absolute;
    }


}