@media only screen and (max-width: 414px) {
    * {
        overflow: hidden;
    }

    header {
        max-width: 414px;  
    }

    .logo {
        margin-left: -8em;
        margin-top: -1em;
    }

    .logo img {
        height: 2em;
    }

    /*nav*/

    .poster {
        margin-top: -21.8em;
    }

    .linearOne
    .linearTwo {
        display: none;
    }

    .title {
        margin-top: 24em;
        margin-left: -2em;
    }

    .title h1 {
        margin-left: 1.5em;
        font-size: 1.2em;
    }

    .info,
    .overview,
    .starring,
    .creator {
        display: none;
    }

    .linearThree {
        max-width: 414px;
        height: 10em;
        margin-top: 22em;
        background-image: linear-gradient(to bottom, transparent , rgba(0, 0, 0, 0.2) 6%, rgba(0, 0, 0, 0.4) 12%, rgba(0, 0, 0, 0.6) 18%, black 60%);
    }

    /*synopsis*/

    .synopsis {
        margin-top: 32em;
    }

    #synopsisImage {
        height: 14em;
        margin-left: 2em;
        margin-top: -52em;
    }


}